* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1e1e2e;
    transition: 0.3s;

}

body.light{
    background: #f3f4f6;
}

.container{
    width: 450px;
    padding: 25px;
      border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    color: white;
    transition: 0.3s;
}

body.light .container{
    color: black;
    background: white;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.header button {
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}

input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.input-area input,select{
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.filters .filter {
    padding: 6px 12px;
    border-radius: 10px;
    background: #444;
    border: none;
    cursor: pointer;
}
.filter.active {
    background: #ffcc00;
    color: black;
}

#searchInput {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
}

#todoList li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 6px 0;
    background: #2a2a3d;
    border-radius: 10px;
    animation: fadeIn .3s ease;
}

body.light #todoList li {
    background: #e5e7eb;
}

.todoInfo {
    display: flex;
    flex-direction: column;
}

.category {
    font-size: 11px;
    opacity: 0.7;
}

.actions button {
    border: none;
    background: transparent;
    cursor: pointer;
    margin-left: 8px;
    font-size: 18px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
}